__pycache__/
temp/
.env
.vscode/


ab/EDP_CONSUMER/DW_PERSONETICS/V{}__3_T_TRANSACTIONS_ADD_COLUMN.sql
ab/EDP_CONSUMER/DW_PERSONETICS/V{}__4_T_TRANSACTIONS_DROP_COLUMN_SYNTAX_ERROR.sql
ab/EDP_CONSUMER/DW_PERSONETICS/backout{}__3_T_TRANSACTIONS_ADD_COLUMN.py
ab/EDP_CONSUMER/DW_PERSONETICS/backout{}__4_T_TRANSACTIONS_DROP_COLUMN_SYNTAX_ERROR.py