__pycache__/
temp/
tests/
.env
.vscode/
test_sql_outputs.py
test-1.sh
test-2.sh

python/flyway_scripts/0_make_flyway.py
python/flyway_scripts/0_run_flyway.py
python/flyway_scripts/private_key.txt

