flyway.url=jdbc:postgresql://ahrelja-ab-demo.cnycb9wvkfqq.us-east-1.rds.amazonaws.com:5432/postgres
flyway.baselineOnMigrate=true
flyway.ignoreMissingMigrations=true
flyway.cleanDisabled=true
flyway.createSchemas=false
flyway.validateMigrationNaming=true
flyway.user=postgres
flyway.password=Iolap1go!
flyway.schemas=DW_NCRUA